/*//////////////////////////////////////////////////////////////////
[ Label ]*/
.title {
    text-align: center;
    margin: 20px;
}

.container-radiography-canvas {
    position: relative;
}

/*------------------------------------------------------------------
[ Radiography ]*/
.container-radiography {
    width: 100%;
    text-align: center;
    height: 700px;
}

.container-radiography .radiography {
    max-width: 100%;
    max-height: 100%;
}

/*------------------------------------------------------------------
[ Canvas ]*/
.container-canvas {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-control-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0 50px 0;
}

.control-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 150px;
    height: 50px;
    margin: 10px 20px;
    background-color: #57b846;
    border-radius: 25px;

    box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.control-btn:hover {
    background-color: #333333;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

/*------------------------------------------------------------------
[ Select Label ]*/
.select-label {
    width: 300px;
    margin: 15px auto;
    position: relative;
    user-select: none;
}

.select-label .default-option {
    background: #fff;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    border: 1px solid gray;
}

.select-label .default-option li {
    padding: 10px 20px;
}

.select-label .default-option:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 18px;
    width: 6px;
    height: 6px;
    border: 2px solid;
    border-color: transparent transparent #555555 #555555;
    transform: rotate(-45deg);
}

.select-label .select-ul {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    display: none;
    border: 1px solid gray;
}

.select-label .select-ul li {
    padding: 10px 20px;
    cursor: pointer;
}

.select-label .select-ul li:first-child:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.select-label .select-ul li:last-child:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.select-label .select-ul li:hover {
    background: #fff4dd;
}

.select-label .option {
    display: flex;
    align-items: center;
}

.select-label.active .select-ul {
    display: block;
}

.select-label.active .default-option:before {
    top: 19px;
    transform: rotate(-225deg);
}